<ion-app>
    <ion-menu side="start" menuId="m1">
      <ion-header>
        <ion-toolbar color="danger">
          <ion-title>
            Gebetapp
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-menu-toggle auto-hide="true">
          <ion-item lines="none" [routerLink]="['./calon-gebetan']">
            <ion-icon name="heart-empty" slot="start"></ion-icon>
            <ion-label>Daftar Calon Gebetan</ion-label>
          </ion-item>
          <ion-item lines="none" [routerLink]="['./target-gebetan']">
            <ion-icon name="star-outline" slot="start"></ion-icon>
            <ion-label>Target Gebetan</ion-label>
          </ion-item>
          <ion-menu-toggle>
            <ion-item lines="none" [routerLink]="['./profil']">
              <ion-icon name="contact" slot="start"></ion-icon>
              <ion-label>Profil</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-app>