<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Target Gebetan</ion-title>
    <ion-buttons slot="end" [routerLink]="['../calon-gebetan']">
      <ion-icon name="home" slot="end"></ion-icon>
      <p>⠀</p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let gebetan of myGebetan">
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img [src]="gebetan.imageurl"></ion-img>
      </ion-thumbnail>
      <ion-label color="dark">
        <p><b>{{ gebetan.nama }}</b></p>
        <p>{{ gebetan.description }}</p>
        <p>
          <ion-icon name="{{ gebetan.symbol }}" class="kecil"></ion-icon> {{ gebetan.kelamin }}
        </p>
      </ion-label>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="light" (click)="presentActionSheet(gebetan.id)">
        <ion-icon name="close" color="danger"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>